<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Page d'accueil</h1>
    <p>Choisissez un étudiant et saisissez sa note :</p>
    <a href="/liste">Choisir un étudiant</a>
</body>
</html>
